.venv/
.env
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/


# PyBuilder
.pybuilder/
target/

# IPython
profile_default/

# Environments
env/
ENV/
env.bak/
venv.bak/


# Cython debug symbols
cython_debug/
media/


# Linet For Tasks Router
.ruff_cache/

# Other files
/main.py
